.app {
    display: grid;
    grid-template-rows: auto 1fr 50px;
    gap: 1rem;
    min-height: 100dvh;
}

.app > header {
    color: var(--pico-primary);
    background: var(--panel-bg-color);
    padding: var(--pico-spacing);
    font-size: calc(var(--pico-font-size) * 1.14);

    p {
        margin-bottom: 0;
    }
}

.footer {
    background: var(--panel-bg-color);
    display: flex;
    align-items: center;
    border-top: 1px solid var(--pico-muted-border-color);
    color: var(--pico-muted-color);
    font-size: calc(var(--pico-font-size) * 0.8);

    .container {
        display: flex;
        align-items: center;
        gap: 3px;
    }
}

.github {
    margin-left: auto;
    font-size: 1.4rem;
    color: var(--pico-contrast);
}
