.app > header {
    margin-bottom: calc(var(--pico-spacing) * 2);
    background-color: var(--pico-primary-background);
    color: var(--pico-primary-inverse);
    padding: var(--pico-spacing);
    font-size: calc(var(--pico-font-size) * 1.14);

    @media(max-width: 1023px) {
        position: sticky;
        top: 0;
        border-bottom: var(--pico-border-width) solid transparent;
    }
}
