.app > header {
    margin: 0 0 2rem;
    color: var(--pico-primary);
    background: var(--panel-bg-color);
    padding: var(--pico-spacing);
    font-size: calc(var(--pico-font-size) * 1.14);

    p {
        margin-bottom: 0;
    }
}
